<form class="form" method="POST" action="?page=UKMrsvp&action=myEvents">
	<div class="form-group col-xs-12 col-sm-4 col-md-3">
		<label for="name">Navn på hendelse
		</label>
		<input type="hidden" id="event_id" name="event_id" value="{{ event.id is defined ? event.id : '' }}">
		<input type="text" class="form-control" id="name" name="name" value="{{ event.name is defined ? event.name : ''}}">
		<p class="help-block">Dette er navnet på hendelsen din, som vil vises for alle.</p>
	</div>
	<div class="form-group col-xs-12 col-sm-4 col-md-3">
		<label for="place">Sted</label>
		<input type="text" class="form-control" id="place" name="place" value="{{ event.place is defined ? event.place : '' }}">
		<p class="help-block">Hvor skal det foregå?</p>
	</div>
	<div class="form-group col-xs-12 col-sm-4 col-md-3">
		<label for="date_start">Start-tid</label>
		<input type="text" class="form-control" id="date_start" name="date_start" value="{{ event.date_start is defined ? event.date_start.date : '' }}">
		<p class="help-block">Når starter hendelsen din?</p>
	</div>
	<div class="clearfix visible-sm"></div>
	<div class="form-group col-xs-12 col-sm-4 col-md-3">
		<label for="date_stop">Slutt-tid</label>
		<input type="text" class="form-control" id="date_stop" name="date_stop" value="{{ event.date_stop is defined ? event.date_stop.date : '' }}">
		<p class="help-block">Når slutter det?</p>
	</div>
	<div class="clearfix visible-md visible-lg"></div>
	<div class="col-xs-12 col-sm-4 col-md-3">
		<div class="form-group">
			<label for="spots">Antall plasser
			</label>
			<input type="numeric" class="form-control" id="spots" name="spots" value="{{ event.spots is defined ? event.spots : ''}}">
			<p class="help-block">Hvor mange deltakere har du plass til?</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3">
		<div class="form-group">
			<input type="hidden" class="form-control" name="image" id="image" value="{{ event.image is defined ? event.image : ''}}">
			<label for="image">Bilde</label><br>
			<div id="preview_holder" style="{{ not event.image is empty ? '' : 'display:none;' }}">
				<img id="image_preview" class="img-responsive" src="{{ event.image is defined ? event.image : '' }}">
			</div>
			<div class="input-group">
				<input type="text" class="form-control" name="image_name" id="image_name" disabled="disabled" value="{{ event.image }}">
				<span class="input-group-btn">
					<button id="lastOpp" class="btn btn-default">Velg bilde</button>
				</span>
			</div>
			<p class="help-block">Bildet vises på arrangementssiden.</p>
		</div>
	</div>
	<div class="clearfix visible-md"></div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
		<div class="form-group">
			<label for="description">Beskrivelse</label>
			<textarea class="form-control" id="description" name="description">{{ event.description is defined ? event.description : '' }}</textarea>
			<p class="help-block">Skriv kort om hva som skal skje.</p>
			{# <input type="text" class="form-control" id="description" name="description" value="{{ event.description is defined ? event.description : ''}}"> #}
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 col-sm-3">
		<button type="submit" class="btn btn-success form-control">Lagre</button>
	</div>
</form>

<script>
var media_uploader = null;

jQuery("#lastOpp").click(function(knapp) {
	knapp.preventDefault();
	open_media_uploader();
});

function open_media_uploader()
{
    media_uploader = wp.media({
        frame:    "post", 
        state:    "insert", 
        multiple: false
    });

    media_uploader.on("insert", function(){
        var json = media_uploader.state().get("selection").first().toJSON();
        console.log(json);
        // Sett url that is submittted:
        jQuery("#image").val(json.url);
        // Show preview:
        jQuery("#preview_holder").show();
        jQuery("#image_preview").attr("src", json.url);
        jQuery("#image_name").val(json.filename);
    });

    media_uploader.open();
}
</script>