{% extends 'layout.html.twig' %}

{% block content %}
	<h3>Alle helårs-hendelser fra UKM-nettverket</h3>
	<p>Her kan du se en oversikt over alle helårs-hendelser som er lagt ut i UKM-nettverket, og hente informasjon og inspirasjon.</p>

	{% if not events is empty %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Bilde</th>
					<th>Navn</th>
					<th>Sted</th>
					<th>Start-tid</th>
					<th>Antall plasser</th>
			</thead>
			<tbody>
				{% for event in events %}
				<tr>
					<td><a href="{{ event.url }}" class="hidden-xs hidden-sm" target="_blank"><img src="{{ event.image }}" style="max-width: 50px;" /></a></td>
					<td><a href="{{ event.url }}" class="hidden-xs hidden-sm" target="_blank">{{ event.name }}</a></td>
					<td>{{ event.place }}</td>
					<td>{{ event.date_start.date|date("H:i d.m.Y") }}</td>
					<td>{{ event.spots > 0 ? event.spots : 'Ubegrenset' }}</td>
					<td><a href="{{ event.url }}" target="_blank">Gå til arrangementssiden</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<b>Det finnes ingen hendelser</b>
	{% endif %}
{% endblock %}