<h2>Helårig aktivitet i UKM</h2>

<div class="wrap" id="ukmid_admin_wrap">
		<div class="clearfix"></div>
	</div>
	
	
	<div class="UKM_tabs UKM_tabs_5">
		{% for tab in tabs %}
		<a href="?page=UKMrsvp&action={{tab.link}}" {{ tab_active == tab.link ? 'class="active"' : ''}}>
			<div>
				<span class="tab_header">{{tab.header}}</span>
				<img src="http://ico.ukm.no/{{tab.icon}}.png" width="25"  border="0" /><br />
				<span class="tab_description">{{tab.description}}</span>
			</div>
		</a>
		{% endfor %}
	</div>
	
	<div class="UKM_tabs_desc">
		<span></span>
	</div>
	<div class="UKM_content_wrapper">
		{% if message is defined %}
			<div class="alert alert-{{message.success ? 'success':'danger'}} col-xs-12 col-md-10">
				{% if message.title is defined %}
				<strong>{{message.title}}</strong><br />
				{% endif %}
				{{message.body}}
			</div>
			<div class="clearfix"></div>
		{% endif %}
	
		{% block content %}
		{% endblock %}
		<div class="clearfix"></div>
	</div>
